@media only screen and (max-width: 480px){
   
    .encriptar{
        margin-top: 70px;
        display: block;
        justify-content: center;    }
   
    .encriptar textarea{
        margin: 0 auto;    
    }


    .terminos{
        font-size: 15px;
    }


    .btn-encriptar{
        margin-left: 5px;
        width: auto;
    }

    .btn-desencriptar{
        top: 375px;
        left: 200px;
        width: auto;
    }
    
}


@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    .btn-encriptar{
        margin-left: 5px;
        width: auto;
    }

    .btn-desencriptar{
        top: 505px;
        left: 400px;
        width: auto;
    }


    .terminos{
        font-size: 13px;
    }
    

    .encriptar textarea{
    width: 50%;
    height: 200px;
    display: flex;
    color: #050519;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    border-radius: 15px;
    padding: 10px;
    border: 5px solid #7F5C16;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    }

.botones{
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
}
    .btn-encriptar{
        margin: 0;
    }
    
    .btn-desencriptar{
     margin: 0;
    
    }

}